mixin video-list()
	.b-video-list&attributes(attributes)
		+video-item('assets/images/video/1.png')
		+video-item('assets/images/video/2.png')
		+video-item('assets/images/video/3.png')
		+video-item('assets/images/video/4.png')
		+video-item('assets/images/video/1.png')
		+video-item('assets/images/video/2.png')
		+video-item('assets/images/video/3.png')
		+video-item('assets/images/video/4.png')
		+video-item('assets/images/video/1.png')
		+video-item('assets/images/video/2.png')
		+video-item('assets/images/video/3.png')
		+video-item('assets/images/video/4.png')