mixin previews-list()
	.b-previews-list&attributes(attributes)
		+previews-item()
		+previews-item()
		+previews-item()
		+previews-item()
		+previews-item()
		+previews-item()
		+previews-item()
		+previews-item()
		+previews-item()
		+previews-item()
		+previews-item()
		+previews-item()