mixin video-album-item()
	a.b-video-album-item(href="#")&attributes(attributes)
		._preview(style="background-image: url(assets/images/video-album.png);")
			svg._icon: use(xlink:href="assets/images/spriteSvg.svg#album")
		._name Название видеоальбома