mixin trainers()
	.b-trainers&attributes(attributes)
		._section.-purple
			._title 
				svg._icon: use(xlink:href="assets/images/spriteSvg.svg#before")
				|Тренеры
			._list
				a._item(href="#" style="background-image: url(assets/images/trainers/1.png);")
					._info
						._name ИВАНОВ
						._desc Иван Иванович
						._option Хоккейный тренер
				a._item(href="#" style="background-image: url(assets/images/trainers/1.png);")
					._info
						._name ИВАНОВ
						._desc Иван Иванович
						._option Хоккейный тренер
				a._item(href="#" style="background-image: url(assets/images/trainers/1.png);")
					._info
						._name ИВАНОВ
						._desc Иван Иванович
						._option Хоккейный тренер
				a._item(href="#" style="background-image: url(assets/images/trainers/1.png);")
					._info
						._name ИВАНОВ
						._desc Иван Иванович
						._option Хоккейный тренер
		._section.-blue
			._title
				svg._icon: use(xlink:href="assets/images/spriteSvg.svg#before")
				|Инструкторы
			._list
				a._item(href="#" style="background-image: url(assets/images/trainers/2.png);")
					._info
						._name ИВАНОВ
						._desc Иван Иванович
						._option Хоккейный тренер
				a._item(href="#" style="background-image: url(assets/images/trainers/2.png);")
					._info
						._name ИВАНОВ
						._desc Иван Иванович
						._option Хоккейный тренер
				a._item(href="#" style="background-image: url(assets/images/trainers/2.png);")
					._info
						._name ИВАНОВ
						._desc Иван Иванович
						._option Хоккейный тренер
				a._item(href="#" style="background-image: url(assets/images/trainers/2.png);")
					._info
						._name ИВАНОВ
						._desc Иван Иванович
						._option Хоккейный тренер