mixin question-item()
	.b-question-item&attributes(attributes)
		._row
			._name Имя
			._date 02 марта 2021
		._question Новый крытый ледовый каток на улице Шевченко в Рязани будет называться «Айсберг». Об этом информирует портал регионального минспорта. Напомним, ранее рязанцам предложили выбрать лучшее название для данного объекта ?
		._answer
			._name Администрация
			._text Также в спортшколе откроется отделение фигурного катания. В группу начальной подготовки планируется набрать 10 человек. Информацию о том, когда начнётся набор, опубликуют позже.
		hr._hr