mixin nav()
	nav.b-nav&attributes(attributes)
		a._link(href="#") Об организации
		a._link(href="#") Спортивная подготовка
		a._link(href="#") Дополнительные услуги
		a._link(href="#") Расписание
		a._link(href="#") Новости
		a._link(href="#") Анонсы
		a._link(href="#") Для рекламодателей
		a._link(href="#") Контакты