mixin map()
	.b-map&attributes(attributes)
		<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab1cc5280f9c0084492084ecfa3dd8c416fbb7331a3cf48ec2333af1dce473366&amp;source=constructor" width="100%" height="600" frameborder="0"></iframe>