mixin photo-album-list()
	.b-photo-album-list&attributes(attributes)
		+photo-album-item()
		+photo-album-item()
		+photo-album-item()
		+photo-album-item()
		+photo-album-item()
		+photo-album-item()
		+photo-album-item()
		+photo-album-item()
		+photo-album-item()
		+photo-album-item()
		+photo-album-item()
		+photo-album-item()