mixin banner-slider()
	.b-banner-slider&attributes(attributes)
		._slider
			._item(style="background-image: url(assets/images/slider/1.jpg)")
				h2._title трус не играет<br>в хоккей
			._item(style="background-image: url(assets/images/slider/1.jpg)")
				h2._title трус не играет<br>в хоккей