mixin social($blockname)
	.b-social&attributes(attributes)
		a._link(href="#")
			svg._icon.-size-1: use(xlink:href="assets/images/spriteSvg.svg#instagram")
		a._link(href="#")
			svg._icon.-size-2: use(xlink:href="assets/images/spriteSvg.svg#vk")