
include ../../blocks/header/header
include ../../blocks/buy-ticket/buy-ticket
include ../../blocks/social/social
include ../../blocks/phone/phone
include ../../blocks/address/address
include ../../blocks/nav/nav
include ../../blocks/search/search
include ../../blocks/watch/watch
include ../../blocks/logo/logo
include ../../blocks/banner-slider/banner-slider
include ../../blocks/features/features
include ../../blocks/news/news
include ../../blocks/previews/previews
include ../../blocks/useful-links/useful-links
include ../../blocks/partners/partners
include ../../blocks/footer/footer
include ../../blocks/ice-arena/ice-arena
include ../../blocks/sport-school/sport-school
include ../../blocks/created/created
include ../../blocks/breadcrumbs/breadcrumbs
include ../../blocks/news-list/news-list
include ../../blocks/pagination/pagination
include ../../blocks/news-item/news-item
include ../../blocks/date/date
include ../../blocks/previews-item/previews-item
include ../../blocks/previews-list/previews-list
include ../../blocks/video-album-list/video-album-list
include ../../blocks/video-album-item/video-album-item
include ../../blocks/video-item/video-item
include ../../blocks/video-list/video-list
include ../../blocks/photo-album-list/photo-album-list
include ../../blocks/photo-album-item/photo-album-item
include ../../blocks/photo-list/photo-list
include ../../blocks/contacts/contacts
include ../../blocks/question-form/question-form
include ../../blocks/map/map
include ../../blocks/question-list/question-list
include ../../blocks/question-item/question-item
include ../../blocks/faq/faq
include ../../blocks/trainers/trainers
include ../../blocks/search-result/search-result