mixin previews-item()
	a.b-previews-item(href="#")&attributes(attributes)
		img._img(src="assets/images/preview/1.png" alt="")
		._content
			h3._caption ВСЕ НА ХОККЕЙ!!! Первенство высшей хоккейной лиги
			hr._hr
			._date 8 февраля 2021
			._text Описание данного блока в одно-два предложения.