mixin photo-album-item()
	a.b-photo-album-item(href="#")&attributes(attributes)
		._preview(style="background-image: url(assets/images/video/1.png);")
			svg._icon: use(xlink:href="assets/images/spriteSvg.svg#album")
		._name Название фотоальбома