mixin news-item()
	a.b-news-item(href="#")&attributes(attributes)
		+date()
		img._img(src="assets/images/news/1.png" alt="")
		._content
			h3._caption Русский вратарь Сорокин наконец-то победил в НХЛ! И попал в трогательные объятия партнёров
			p._text Хоккеисты «Айлендерс» поздравляли Илью не только с долгожданным выигранным матчем, но и с заслуженным «сухарём».