mixin news-list()
	.b-news-list&attributes(attributes)
		+news-item()
		+news-item()
		+news-item()
		+news-item()
		+news-item()
		+news-item()
		+news-item()
		+news-item()
		+news-item()
		+news-item()