mixin useful-links()
	.b-useful-links&attributes(attributes)
		h3._title Полезные ссылки
		._list
			a._link(href="#" target="_blank")
				img._img(src="assets/images/links/1.png" alt="")
				|Минспорт РО
			a._link(href="#" target="_blank")
				img._img(src="assets/images/links/2.png" alt="")
				|Минспорт РФ