mixin search-result()
	.b-search-result&attributes(attributes)
		._query «Тренер»
		._item
			._label Анонсы
			._date 20 февраля 2021
			a._link(href="#") ВСЕ НА ХОККЕЙ!!! Первенство высшей хоккейной лиги
		._item
			._label Страницы
			a._link(href="#") Спротивная подготовка
			a._link(href="#") Дополнительные услуги
			a._link(href="#") Расписание
		._item
			._label Новости
			._date 17 февраля 2021
			a._link(href="#") Русский вратарь Сорокин наконец-то победил в НХЛ! И попал в трогательные объятия партнёров
			._date 18 февраля 2021
			a._link(href="#") Знарок снова проиграл СКА! Тренер-чемпион всё дальше от плей-офф
