mixin video-album-list()
	.b-video-album-list&attributes(attributes)
		+video-album-item()
		+video-album-item()
		+video-album-item()
		+video-album-item()
		+video-album-item()
		+video-album-item()
		+video-album-item()
		+video-album-item()
		+video-album-item()
		+video-album-item()
		+video-album-item()
		+video-album-item()