extends layouts/default
block title
    title Айсберг
block link
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,900&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="assets/styles/libs/bootstrap.min.css")
    link(rel="stylesheet" href="assets/styles/libs/jquery.bxslider.min.css")
    link(rel="stylesheet" href="assets/styles/libs/slicknav.min.css")
    link(rel="stylesheet" href="assets/styles/index.min.css")
block body
    .b-page
        +header()
        main.b-main
            .container
                .row
                    .col-12
                        +breadcrumbs(['Главная', 'Новости', 'Ледовая арена на Шевченко откроется в марте'])
                        h1._title Ледовая арена на Шевченко откроется в марте
                        ._content
                            +date()(class="main__date")
                            img(src="assets/images/content-img.png" alt="")
                            p В министерстве физической культуры и спорта Рязанской области нашей редакции в ответе на запрос рассказали, что ГАУ РО «СШ «Айсберг» (находится на ул. Шевченко) откроется в марте этого года. С середины февраля спортшкола начнёт набирать детей на отделение хоккея:
                            ol
                                li 1. в группу начальной подготовки спортшкола – 28 человек,
                                li 2. в спортивно-оздоровительную группу – 56 человек.
                            p Также в спортшколе откроется отделение фигурного катания. В группу начальной подготовки планируется набрать 10 человек. Информацию о том, когда начнётся набор, опубликуют позже.
                            p В министерстве добавили, что зачисление на бюджетные места в спортивную школу будет проходить в соответствии со сдачей контрольных нормативов.
                            p Новый крытый ледовый каток на улице Шевченко в Рязани будет называться «Айсберг». Об этом информирует портал регионального минспорта. Напомним, ранее рязанцам предложили выбрать лучшее название для данного объекта, который возводят в рамках федерального проекта «Спорт — норма жизни» и регионального проекта «Спорт — норма жизни в Рязанской области».
                            p В результате в конкурсе победу одержала Яна Гончарова, первая приславшая анкету с выбранным названием для катка. В итоге спортивный объект получит название «Айсберг». На базе катка создадут одноимённую спортшколу.
                            p Замминистра физической культуры и спорта Рязанской области Юрий Колдин поздравил Яну с победой, вручил ей памятный приз, а также абонемент для бесплатного посещения ФОК «Капитан».
                            p — Надеемся, что воспитанники новой спортивной школы «Айсберг» будут несокрушимы и тверды в достижении высоких спортивных результатов, — заявил Колдин
        +footer()
block script
    script(src="assets/scripts/libs/jquery-3.5.1.min.js")
    script(src="assets/scripts/libs/bootstrap.min.js")
    script(src="assets/scripts/libs/jquery.bxslider.min.js")
    script(src="assets/scripts/libs/jquery.slicknav.min.js")
    script(src="assets/scripts/index.min.js")